nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 7px;

    div {
      display: block;
      width: 37px;
      height: 4px;

      background-color: $accent;
    }
  }

  .logo {
  }

  .wrapper {
    &__left {
      display: flex;
      align-items: center;
      gap: 43px;
    }
    &__right {
      display: flex;
      align-items: center;
      gap: 35px;
    }
  }

  .location {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -23px;
        width: 20px;
        height: 20px;
        background-image: url("../../icons/placeholder.svg");
      }
    }
    &__text {
      color: #868686;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    &__phone {
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
    }
    &__location {
      font-size: 13px;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
  }

  @media (max-width: 766px) {
    .btn {
      display: none;
    }
    .location {
      display: none;
    }
    .logo {
      &__desktop {
        display: none;
      }
    }
    .contact {
      &__icon {
        display: none;
      }
    }
  }

  @media (min-width: 767px) {
    .hamburger {
      display: none;
    }
    .logo {
      display: none;
    }
    .contact {
      align-items: center;
      flex-direction: row;
      gap: 9px;
      &__phone {
        font-weight: 400;
        line-height: 24px;
      }

      &__location {
        display: none;
      }
    }
  }
}
